<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keyboard.neon_keyboard">

    <!-- Permission needed to vibrate if the user has key press vibration enabled -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.keyboard.neon_keyboard.NeonApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/SettingsTheme"
        tools:ignore="LockedOrientationActivity">

        <!-- IME service -->
        <service
            android:name="com.keyboard.neon_keyboard.background.view.keyboard.BackgroundViewKeyboardService"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- Spellchecker service -->
        <service
            android:name="com.keyboard.neon_keyboard.NeonSpellCheckerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>
            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service>

        <activity
            android:name="com.keyboard.neon_keyboard.ui.preview.theme.activity.ThemePreviewActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name="com.keyboard.neon_keyboard.ui.crop.activity.CropActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.keyboard.neon_keyboard.ui.theme.editor.activity.ThemeEditorActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.keyboard.neon_keyboard.ui.language.selector.activity.LanguageSelectorActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.keyboard.neon_keyboard.ui.splash.activity.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.keyboard.neon_keyboard.ui.main.activity.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.keyboard.neon_keyboard.ime.clip.provider.FlorisContentProvider"
            android:authorities="${applicationId}.provider.clip"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>

</manifest>
