<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cccomba.board">

    <!-- Permission needed to vibrate if the user has key press vibration enabled -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.cccomba.board.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="😊CombaBoard"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/SettingsTheme"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:supportsRtl,android:label">

        <!-- IME service -->
        <service
            android:name="com.cccomba.board.background.view.keyboard.BackgroundViewKeyboardService"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- Spellchecker service -->
        <service
            android:name="com.cccomba.board.MySpellCheckerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>
            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="CombaBoard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.cccomba.board.ui.crop.CropActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cccomba.board.ui.language.LanguageActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cccomba.board.ui.options.OptionsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cccomba.board.ui.home.HomeActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <provider
            android:name="com.cccomba.board.ime.clip.provider.FlorisContentProvider"
            android:authorities="${applicationId}.provider.clip"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>

</manifest>
